{% extends "layouts/base.html" %}

{% block title %} New Player {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">New Player</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">New Player</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Player details</h5>
                            </div>
                            <div class="card-body">
                                <!--div class="row"-->
                                    <!--div class="col-md-6"-->
                                        <form>
                                            <!-- [First Name] -->
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">First Name</label>
                                                <input class="mb-3 form-control" id="inputFirstName" type="text" placeholder="What your friends call you">
                                            </div>
                                            <br>

                                            <!-- [Surname] -->
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Surname</label>
                                                <input class="mb-3 form-control" id="inputSurname" type="text" placeholder="">
                                            </div>
                                            <br>

                                            <!-- [Player rating] -->
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Rating (1-9)</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                </select>
                                                <small id="ratingHelp" class="form-text text-muted">DTBA only</small>
                                            </div>
                                            <br>
                                            
                                            <!-- [Notes] -->
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Notes</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                            
                                            <!--[Submit Button] -->
                                            <button type="submit" class="btn btn-dark">Submit</button>
                                        </form>
                                    <!--/div-->
                                <!--/div-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
